<launch>
  <arg name="robot_namespace"  default="turtlebot"/> <!-- robot's name used by plugin to publish topics -->
  <arg name="base_prefix"      default="mobile_base" />

  <!-- Turtlebot with Kinect launch file -->
  <include file="$(find chris_turtlebot_bringup)/launch/chris_turtlebot_node.launch" >
    <arg name="robot_namespace"       value="$(arg robot_namespace)"/>
  </include>

  <!-- LIDAR interface -->
  <include file="$(find chris_turtlebot_bringup)/launch/chris_ydlidar_bringup.launch" >
    <arg name="robot_namespace"       value="$(arg robot_namespace)"/>
  </include>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter" ns="$(arg robot_namespace)">
        <remap from="scan"          to="ydlidar_node/scan_raw" />
        <remap from="scan_filtered" to="ydlidar_node/scan" />
        <rosparam command="load" file="$(find chris_turtlebot_bringup)/param/laser_filters.yaml" />
  </node>

  <!-- Kinect interface -->
  <include file="$(find chris_turtlebot_bringup)/launch/chris_realsense_bringup.launch" >
    <arg name="robot_namespace"       value="$(arg robot_namespace)"/>
  </include>

  <!-- command velocity input mux -->
  <include file="$(find chris_turtlebot_bringup)/launch/chris_cmd_vel_mux.launch" >
    <arg name="robot_namespace"       value="$(arg robot_namespace)"/>
    <arg name="base_prefix"           value="$(arg base_prefix)"/>
  </include>

  <!-- Add bumper information to the map -->
  <node pkg="nodelet" type="nodelet" name="bumper2pointcloud" args="load chris_turtlebot_bumper2pc/Bumper2PcNodelet nodelet_manager">
    <param name="pointcloud_radius"     value="0.20"/>
    <param name="pointcloud_thickness"  value="0.05"/>
    <param name="pointcloud_max_radius" value="1000.0"/>
    <param name="points_per_bumper"     value="4"/>
    <param name="base_link_frame"       value="$(arg robot_namespace)_tf/base_link"/>
    <remap from="bumper2pointcloud/pointcloud"   to="$(arg base_prefix)/sensors/bumper_pointcloud"/>
    <remap from="bumper2pointcloud/core_sensors" to="$(arg base_prefix)/sensors/core"/>
  </node>

</launch>
