<launch>
  <arg name="robot_namespace"   default="turtlebot"/> <!-- robot's name used by plugin to publish topics -->
  <arg name="base_prefix"       default="mobile_base" />

  <!-- Load the Kinect drivers for the CNU Turtlebot -->
  <group ns="$(arg robot_namespace)">

    <!-- LIDAR interface -->
    <node name="hokuyo_node" pkg="urg_node" type="urg_node" >
       <param name="frame_id"     value="$(arg robot_namespace)_tf/hokuyo_laser" />
       <remap from="scan"         to="hokuyo_node/scan_raw" />
       <remap from="/diagnostics" to="diagnostics"/>
    </node>
  </group>

</launch>
